input {
  min-width: 600px;
  max-width: 600px;
  padding: 30px;

  border: none;
  outline: none;

  text-align: right;
  font-size: 50px;

  font-family: Spartan;
  font-weight: 700;

  border-radius: 10px;
  margin-bottom: 20px;
}

#blue-theme {
  background: var(--screenBackground-blue);
  color: var(--text-blue);
}
#white-theme {
  background: var(--screenBackground-white);
  color: var(--textDark-white);
}
#purple-theme {
  background: var(--screenBackground-purple);
  color: var(--grayishKeyShadow-purple);
}
